article.accordion
{
	display: block;
	/*width: 30em; */
/*	width: 76em; */
	padding: 0.5em 0.5em 1px 0.5em;
	margin: 0 auto;
	background-color: #666;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}
article.accordion section
{
	display: block;
 /*	width: 74em; */
	height: 2em;
	padding: 0 1em;
	margin: 0 0 0.5em 0;
	color: #333;
	background-color: #333;
	overflow: hidden;
	border-radius: 3px;
}


article.accordion section h2
{
	font-size: 1em;
	font-weight: bold;
	width: 100%;
	line-height: 2em;
	padding: 0;
	margin: 0;
	color: #ddd;
}
article.accordion section h2 a
{
	display: block;
	width: 100%;
	line-height: 2em;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}

article.accordion section:target
{
	height: 15em;
	background-color: #fff;
}
article.accordion section:target h2
{
	font-size: 1.6em;
	color: #333;
}


article.accordion section,
article.accordion section h2
{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}





table{
 border-collapse:collapse;
 width:90%;
 }
 
th, td {
 border:1px solid black;
 width:20%;
 }
td {
 text-align:center;
 }
caption {
 font-weight:bold
 }
